// Badges
//-------------------------------------------------------------------------- */
.b-badge {
  border: 1px solid #eee;
}

.b-badge--small {
  padding: 8px;
  font-size: 1.2rem;
}

.b-badge--large {
  padding: 16px;
  font-size: 1.6rem;
}