/* Tomorrow Comment */
.hljs-comment {
  color: #aaa;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #3498DB;
}

/* Tomorrow Orange */
/*.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #3498DB;
}*/

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #3498DB;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #3498DB;
}

/* Tomorrow Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #3498DB;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #3498DB;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #3498DB;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: rgb(250, 250, 250);
  color: #c5c8c6;
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.7;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.hljs-at_rule {
  color: #3498DB;
}

.hljs-at_rule .hljs-keyword, {
  color: #3498DB;
}

.hljs-at_rule .hljs-number, {
  color: #777;
}