<h3 class="tcg50 ft7 fw3 mb2 md-mb3">Border Radius Helpers</h3>


<table class="w100 mb6">
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw5 pv2 pr2">Border Direction</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Class Prefix</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Default Amounts</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.br</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Left Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.blr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Right Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.brr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Top Left Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.btlr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Top Right Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.btrr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Bottom Left Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.bblr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">Border Bottom Right Radius</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">.bbrr</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
</table>
