<h3 class="tcg50 ft7 fw3 mb2 md-mb3">Spacing</h3>
<p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">The best way to learn Beard is to use it. It relies on shorthand for most of the classes it provides. For example, take the margin spacing helpers. To achieve a <code>margin-top</code> which uses the 2nd step in the spacing scale, use <code>.mt2</code>. For padding, it's <code>.pt2</code>.</p>

<table class="w100">
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw5 pv2 pr2">Breakpoint Prefix (optional)</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">-</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Unit</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Direction</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Default Values</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">only-sm | sm | only-md | md | only-lg | lg | only-xlg | xlg</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">-</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">p | m</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">v | h | t | r | b | l</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">0-10</td>
    </tr>
</table>
