<h3 class="tcg50 ft7 fw3 mb2 md-mb3">Text Alignment</h3>

<table class="w100 mb6">
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw5 pv2 pr2">Breakpoint Prefix (optional)</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">-</td>
        <td class="tcg50 ft5 fw5 pv2 ph2">Direction</td>
    </tr>
    <tr class="brdr1--bottom bcg10">
        <td class="tcg50 ft5 fw3 pv2 pr2">only-sm | sm | only-md | md | only-lg | lg | only-xlg | xlg</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">-</td>
        <td class="tcg50 ft5 fw3 pv2 ph2">tal | tac | tar</td>
    </tr>
</table>
