// Animations
// ------------------------------------------------------------------------------------ */
.willRotateLeft45 {
  transition: transform .2s linear;
}

.rotateLeft45 {
  transform-origin: 50% 40%;
  transform: rotate(45deg);
}

// Rotator Animation
// ------------------------------------------------------------------------------------ */
$spinner-offset: 187;
$spinner-duration: 1.4s;

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $spinner-offset;
  }
  50% {
    stroke-dashoffset: $spinner-offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $spinner-offset;
    transform: rotate(450deg);
  }
}
