// Site-wide Spacing
// ------------------------------------------------------------------------------------ */
$site-width: 126.5rem !default;
.site-width { max-width: $site-width; }

// Base Typeface Definitions
//-------------------------------------------------------------------------- */
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
.sans-serif {
  font-family: $sans-serif;
}

$serif: Merriweather, Georgia, serif !default;
.serif {
  font-family: $serif;
}

$code: Menlo, Consolas, Monaco, 'Andale Mono', monospace !default;
.code {
  font-family: $code;
}

// Base Elements
//-------------------------------------------------------------------------- */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $sans-serif;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $fwnormal;
}

img {
  @include user-drag(none);
  width: 100%;
  height: auto;

}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    background: none;
    border-top: 1px solid rgba(0,0,0,0.2);
    margin: 0;
}

button {
  cursor: pointer;
}