// Border Widths
// ------------------------------------------------------------------------------------
$bw-sm: 1px;
$bw-md: 3px;
$bw-lg: 5px;

.border-sm {
  border-width: $bw-sm;
}

.border-md {
  border-width: $bw-md;
}

.border-lg {
  border-width: $bw-lg;
}

// Border Styles
// ------------------------------------------------------------------------------------
.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

// Borders
// ------------------------------------------------------------------------------------ */
.brdr-btm-1 {
  border-bottom: 1px solid #ccc;
}
