// Responsive Breakpoints
//-------------------------------------------------------------------------- */
$sm: 'only screen and (min-width: 300px)' !default;
$md: 'only screen and (min-width: 600px)' !default;
$lg: 'only screen and (min-width: 900px)' !default;
$xlg: 'only screen and (min-width: 1440px)' !default;

$only-sm: 'only screen and (max-width: 599px)' !default;
$only-md: 'only screen and (min-width: 600px) and (max-width: 899px)' !default;
$only-lg: 'only screen and (min-width: 900px) and (max-width: 1439px)' !default;
$only-xlg: 'only screen and (min-width: 1440px)' !default;

$breakpoints: (
    sm $sm,
    only-sm $only-sm,
    md $md,
    only-md $only-md,
    lg $lg,
    only-lg $only-lg,
    xlg $xlg,
    only-xlg $only-xlg
);