// Display Helpers
// ------------------------------------------------------------------------------------
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }
.dn { display: none; }
.df { display: flex; }
.full { display: block; width: 100%; }
.w100 { width: 100%; }

// Responsive Display Helpers
//-------------------------------------------------------------------------- */
@each $key, $breakpoint in $breakpoints {
  .#{$key}-db {
    @include media($breakpoint) {
        display: block;
    }
  }

  .#{$key}-di {
    @include media($breakpoint) {
        display: inline;
    }
  }

  .#{$key}-dib {
    @include media($breakpoint) {
        display: inline-block;
    }
  }

  .#{$key}-dn {
    @include media($breakpoint) {
        display: none;
    }
  }

  .#{$key}-df {
    @include media($breakpoint) {
        display: flex;
    }
  }
}