// Display Helpers
// ------------------------------------------------------------------------------------
.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

.df {
  display: flex;
}

.full {
  display: block;
  width: 100%;
}

.full-bg {
  position: absolute !important;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}
