// Flexbox Helpers
// ------------------------------------------------------------------------------------ */
.flex { display: flex; }
.inline-flex { display: inline-flex; }

// Flex Basis Helpers
//-------------------------------------------------------------------------- */
.fb100 { flex-basis: 100%; }

// Flex Direction Helpers
//-------------------------------------------------------------------------- */
.fdr { flex-direction: row; }
.fdrr { flex-direction: row-reverse; }
.fdc { flex-direction: column; }
.fdcr { flex-direction: column-reverse; }

// Flex Wrap Helpers
//-------------------------------------------------------------------------- */
.fwn { flex-wrap: nowrap; }
.fww { flex-wrap: wrap; }
.fwr { flex-wrap: wrap-reverse; }

// Justification Helpers
//-------------------------------------------------------------------------- */
.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcsa { justify-content: space-around; }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }

// Align Items Helpers
//-------------------------------------------------------------------------- */
.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.ais { align-items: stretch; }
.aib { align-items: baseline; }

// Align Content Helpers
//-------------------------------------------------------------------------- */
.acc { align-content: center; }
.acfs { align-content: flex-start; }
.acfe { align-content: flex-end; }
.acs { align-content: stretch; }
.acb { align-content: baseline; }
