// Font Weights
// ------------------------------------------------------------------------------------ */
$thin: 100;
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$xxbold: 900;

$fwthin: $thin;
$fwxlight: $xlight;
$fwlight: $light;
$fwnormal: $normal;
$fwmedium: $medium;
$fwsemibold: $semibold;
$fwbold: $bold;
$fwxbold: $xbold;
$fwxxbold: $xxbold;

.fwthin { font-weight: $fwthin; }
.fwxlight { font-weight: $fwxlight; }
.fwlight { font-weight: $fwlight; }
.fwnormal { font-weight: $fwnormal; }
.fwmedium { font-weight: $fwmedium; }
.fwsemibold { font-weight: $fwsemibold; }
.fwbold { font-weight: $fwbold; }
.fwxbold { font-weight: $fwxbold; }
.fwxxbold { font-weight: $fwxxbold; }