// Font Weights
// ------------------------------------------------------------------------------------ */
$thin: 100;
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$xbold: 800;
$xxbold: 900;

$fwthin: $thin;
$fwxlight: $xlight;
$fwlight: $light;
$fwnormal: $normal;
$fwmedium: $medium;
$fwsemibold: $semibold;
$fwbold: $bold;
$fwxbold: $xbold;
$fwxxbold: $xxbold;

%fwthin, .fwthin { font-weight: $fwthin !important; }
%fwxlight, .fwxlight { font-weight: $fwxlight !important; }
%fwlight, .fwlight { font-weight: $fwlight !important; }
%fwnormal, .fwnormal { font-weight: $fwnormal !important; }
%fwmedium, .fwmedium { font-weight: $fwmedium !important; }
%fwsemibold, .fwsemibold { font-weight: $fwsemibold !important; }
%fwbold , .fwbold { font-weight: $fwbold !important; }
%fwxbold, .fwxbold { font-weight: $fwxbold !important; }
%fwxxbold, .fwxxbold { font-weight: $fwxxbold !important; }
