// Font Sizes & Responsive Font Size Helpers
// ------------------------------------------------------------------------------------ */
$ft1: 1.2 !default;
$ft2: 1.4 !default;
$ft3: 1.6 !default;
$ft4: 1.8 !default;
$ft5: 2.1 !default;
$ft6: 2.4 !default;
$ft7: 3.6 !default;
$ft8: 4.8 !default;
$ft9: 6.0 !default;
$ft10: 7.2 !default;

$font-size-values: (
  ft1: $ft1,
  ft2: $ft2,
  ft3: $ft3,
  ft4: $ft4,
  ft5: $ft5,
  ft6: $ft6,
  ft7: $ft7,
  ft8: $ft8,
  ft9: $ft9,
  ft10: $ft10
);

@each $name, $amount in $font-size-values {
  .#{$name} { @include font-size($amount) }

  @each $key, $breakpoint in $breakpoints {
    .#{$key}-#{$name} {
      @include media($breakpoint) {
          @include font-size($amount);
      }
    }
  }
}