// Response Flexbox Grid
//-------------------------------------------------------------------------- */
$flexbox-grid-column-count: 12 !default;

.frame { display: flex; width: 100%; }

@for $i from 1 through $flexbox-grid-column-count {
  .b#{$i} { flex: $i; }

  @each $key, $breakpoint in $breakpoints {
    .#{$key}-b#{$i} {
      @include media($breakpoint) {
          flex: $i;
      }
    }
  }
}

// For each breakpoint make:
// 1. Responsive reordering helpers
//-------------------------------------------------------------------------- */
@each $key, $breakpoint in $breakpoints {
  .b-first { order: 0; }
  .b-last { order: 1; }

  .#{$key}-b-first { @include media($breakpoint) { order: 0; } }
  .#{$key}-b-last { @include media($breakpoint) { order: 1; } }
}