// Headings
// ------------------------------------------------------------------------------------ */
.heading {
  margin-top: 0;
  margin-bottom: 0;
}

.heading--sans {
  @extend .sans;
}

.heading--serif {
  @extend .serif;
}

.heading--section {
    color: $tcg40;
    font-size: $ft-2;
    font-weight: $fw-bold;
    letter-spacing: .35rem;
    text-align: center;
    text-transform: uppercase;
}

.clip-amount {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
