// Response Flexbox Grid
//-------------------------------------------------------------------------- */
.frame {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    @include media($md) {
        flex-direction: row;
    }
}

.frame--start { align-items: flex-start; }
.frame--center { align-items: center; }
.frame--end { align-items: flex-end; }

// Make all blocks able to grow by default
[class^='blk'] {
    flex-grow: 1;
}

// This sets the block width
$block-width: 100% / $beard-grid-block-count;

// For each column, set its width
@for $i from 1 through $beard-grid-block-count {
    // Generate basic block widths
    .blk#{$i} { flex-basis: $i * $block-width; }
}

// For each breakpoint, make a responsive version
@if $beard-enable-responsive == true {
    @each $key, $breakpoint in $breakpoints {
        @for $i from 1 through $beard-grid-block-count {
            .#{$key}-blk#{$i} {
                @include media($breakpoint) {
                    flex-basis: $i * $block-width;
                }
            }
        }
    }
}

// Generate blocks with padding built in
.frame--pad [class^='blk'] {
    padding-left: $beard-spacing-sm;
    padding-right: $beard-spacing-sm;
}

// Reordering Helpers
//-------------------------------------------------------------------------- */
.blk--first { order: 0; }
.blk--last { order: 1; }

@if $beard-enable-responsive == true {
    @each $key, $breakpoint in $breakpoints {
        .#{$key}-b--first { @include media($breakpoint) { order: 0; } }
        .#{$key}-b--last { @include media($breakpoint) { order: 1; } }
    }
}