// Font Transform Helpers
//-------------------------------------------------------------------------- */
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

// Circle Images
// ------------------------------------------------------------------------------------
$circle-img-radius: 100rem !default;
.circle { border-radius: $circle-img-radius; }

// Ellipses Text
// ------------------------------------------------------------------------------------
.ell { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

// Remove borders
//-------------------------------------------------------------------------- */
.xbrdr { border: none; }