// Loop through Brand Colors and output classes for each type
//-------------------------------------------------------------------------- */
@each $id, $color in $beard-colors {
    .bg#{$id} { background-color: $color !important; }
    .tc#{$id} { color: $color !important; }
    .bc#{$id} { border-color: $color !important; }
}

// Color Removal Helpers
// ------------------------------------------------------------------------- */
.xbg { background-color: transparent !important; }
