// Flexbox Helpers
// ------------------------------------------------------------------------------------ */
.flex { display: flex; }
.iflex { display: inline-flex; }
.flex-grow { flex-grow: 1 }

// Flex Basis Helpers
//-------------------------------------------------------------------------- */
.fb100 { flex-basis: 100%; }

// Flex Direction Helpers
//-------------------------------------------------------------------------- */
.fdr { flex-direction: row; }
.fdrr { flex-direction: row-reverse; }
.fdc { flex-direction: column; }
.fdcr { flex-direction: column-reverse; }

// Flex Wrap Helpers
//-------------------------------------------------------------------------- */
.fwn { flex-wrap: nowrap; }
.fww { flex-wrap: wrap; }
.fwr { flex-wrap: wrap-reverse; }

// Justification Helpers
//-------------------------------------------------------------------------- */
.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcsa { justify-content: space-around; }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }

// Align Items Helpers
//-------------------------------------------------------------------------- */
.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.ais { align-items: stretch; }
.aib { align-items: baseline; }

// Align Content Helpers
//-------------------------------------------------------------------------- */
.acc { align-content: center; }
.acfs { align-content: flex-start; }
.acfe { align-content: flex-end; }
.acs { align-content: stretch; }
.acb { align-content: baseline; }

// Generate responsive versions of the above
//-------------------------------------------------------------------------- */
@if $beard-enable-responsive == true {
    @each $key, $breakpoint in $breakpoints {
        .#{$key}-flex {
            @include media($breakpoint) {
                display: flex;
            }
        }

        .#{$key}-iflex {
            @include media($breakpoint) {
                display: inline-flex;
            }
        }

        .#{$key}-fb100 {
            @include media($breakpoint) {
                flex-basis: 100%;
            }
        }

        // Flex Direction
        //-------------------------------------------------------------------------- */
        .#{$key}-fdr {
            @include media($breakpoint) {
                flex-direction: row;
            }
        }

        .#{$key}-fdrr {
            @include media($breakpoint) {
                flex-direction: row-reverse;
            }
        }

        .#{$key}-fdc {
            @include media($breakpoint) {
                flex-direction: column;
            }
        }

        .#{$key}-fdcr {
            @include media($breakpoint) {
                flex-direction: column-reverse;
            }
        }

        .#{$key}-fwn {
            @include media($breakpoint) {
                flex-wrap: nowrap;
            }
        }

        .#{$key}-fww {
            @include media($breakpoint) {
                flex-wrap: wrap;
            }
        }

        .#{$key}-fwr {
            @include media($breakpoint) {
                flex-wrap: wrap-reverse;
            }
        }

        // Justify Content
        //-------------------------------------------------------------------------- */
        .#{$key}-jcc {
            @include media($breakpoint) {
                justify-content: center;
            }
        }

        .#{$key}-jcsb {
            @include media($breakpoint) {
                justify-content: space-between;
            }
        }

        .#{$key}-jcsa {
            @include media($breakpoint) {
                justify-content: space-around;
            }
        }

        .#{$key}-jcfs {
            @include media($breakpoint) {
                justify-content: flex-start;
            }
        }

        .#{$key}-jcfe {
            @include media($breakpoint) {
                justify-content: flex-end;
            }
        }

        // Align Items
        //-------------------------------------------------------------------------- */
        .#{$key}-aic {
            @include media($breakpoint) {
                align-items: center;
            }
        }

        .#{$key}-aifs {
            @include media($breakpoint) {
                align-items: flex-start;
            }
        }

        .#{$key}-aife {
            @include media($breakpoint) {
                align-items: flex-end;
            }
        }

        .#{$key}-ais {
            @include media($breakpoint) {
                align-items: stretch;
            }
        }

        .#{$key}-aib {
            @include media($breakpoint) {
                align-items: baseline;
            }
        }

        // Align Content
        //-------------------------------------------------------------------------- */
        .#{$key}-acc {
            @include media($breakpoint) {
                align-content: center;
            }
        }

        .#{$key}-acfs {
            @include media($breakpoint) {
                align-content: flex-start;
            }
        }

        .#{$key}-acfe {
            @include media($breakpoint) {
                align-content: flex-end;
            }
        }

        .#{$key}-acs {
            @include media($breakpoint) {
                align-content: stretch;
            }
        }

        .#{$key}-acb {
            @include media($breakpoint) {
                align-content: baseline;
            }
        }
    }
}
