// Float Helpers
// ------------------------------------------------------------------------------------
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.finit { float: initial; }
.finhe { float: inherit; }

@if $beard-enable-responsive == true {
    @each $key, $breakpoint in $breakpoints {
      .#{$key}-fl { float: left; }
      .#{$key}-fr { float: right; }
      .#{$key}-fn { float: none; }
      .#{$key}-finit { float: initial; }
      .#{$key}-finhe { float: inherit; }
    }
}