// icon Sizes
// ------------------------------------------------------------------------------------ */
$ic-1: 1rem;
$ic-2: 1.5rem;
$ic-3: 2rem;
$ic-4: 2.5rem;
$ic-5: 3rem;
$ic-6: 3.5rem;
$ic-7: 4rem;
$ic-8: 4.5rem;
$ic-9: 5rem;
$ic-10: 5.5rem;

.ic-1 { height: $ic-1; width: $ic-1; }
.ic-2 { height: $ic-2; width: $ic-2; }
.ic-3 { height: $ic-3; width: $ic-3; }
.ic-4 { height: $ic-4; width: $ic-4; }
.ic-5 { height: $ic-5; width: $ic-5; }
.ic-6 { height: $ic-6; width: $ic-6; }
.ic-7 { height: $ic-7; width: $ic-7; }
.ic-8 { height: $ic-8; width: $ic-8; }
.ic-9 { height: $ic-9; width: $ic-9; }
.ic-10 { height: $ic-10; width: $ic-10; }

.ic-check { height: 1.3rem; width: 1rem; }
.ic-error { height: 1.3rem; width: 1rem; }
.ic-18-20 { width: 4.2rem; height: 4.2rem; border: 1px solid #666; border-radius: 50%;}

// Responsive Icon Sizes
// ------------------------------------------------------------------------------------ */
