// Letter-spacing Options
//
// Description: These styles are useful when you want to space a button's text out
// or provide a heading with some space
//
// Note: There are responsive letter-spacing options because the letter-spacing
// option in CSS doesn't allow for a unit-less value. If it ever does, then we'd
// be able to specify something like "letter-spacing: 4" and be done with it.
// ------------------------------------------------------------------------------------ */

$ls1:  0.1rem !default;
$ls2:  0.2rem !default;
$ls3:  0.3rem !default;
$ls4:  0.4rem !default;
$ls5:  0.5rem !default;
$ls6:  0.6rem !default;
$ls7:  0.7rem !default;
$ls8:  0.8rem !default;
$ls9:  0.9rem !default;
$ls10: 1.0rem !default;

// Define List of Letter-spacing values
//-------------------------------------------------------------------------- */
$letter-spacing-values: (
  ls1: $ls1,
  ls2: $ls2,
  ls3: $ls3,
  ls4: $ls4,
  ls5: $ls5,
  ls6: $ls6,
  ls7: $ls7,
  ls8: $ls8,
  ls9: $ls9,
  ls10: $ls10
);

@each $name, $amount in $letter-spacing-values {
  .#{$name} { letter-spacing: $amount }

  @each $key, $breakpoint in $breakpoints {
    .#{$key}-#{$name} {
      @include media($breakpoint) {
          letter-spacing: $amount;
      }
    }
  }
}