// Letter-spacing Options
//
// Description: These styles are useful when you want to space a button's text out
// or provide a heading with some space
//
// Note: There are responsive letter-spacing options because the letter-spacing
// option in CSS doesn't allow for a unit-less value. If it ever does, then we'd
// be able to specify something like "letter-spacing: 4" and be done with it.
// ------------------------------------------------------------------------------------ */

$ls1:  0.1rem !default;
$ls2:  0.2rem !default;
$ls3:  0.3rem !default;
$ls4:  0.4rem !default;
$ls5:  0.5rem !default;
$ls6:  0.6rem !default;
$ls7:  0.7rem !default;
$ls8:  0.8rem !default;
$ls9:  0.9rem !default;
$ls10: 1.0rem !default;

.ls1 { letter-spacing: $ls1 }
.ls2 { letter-spacing: $ls2 }
.ls3 { letter-spacing: $ls3 }
.ls4 { letter-spacing: $ls4 }
.ls5 { letter-spacing: $ls5 }
.ls6 { letter-spacing: $ls6 }
.ls7 { letter-spacing: $ls7 }
.ls8 { letter-spacing: $ls8 }
.ls9 { letter-spacing: $ls9 }
.ls10 { letter-spacing: $ls10 }

// Responsive Letter-spacing Helpers
// ------------------------------------------------------------------------------------ */
.sm-ls1 {
  @include media($only-sm)
  {
    letter-spacing: $ls1;
  }
}

.sm-ls2 {
  @include media($only-sm)
  {
    letter-spacing: $ls2;
  }
}

.sm-ls3 {
  @include media($only-sm)
  {
    letter-spacing: $ls3;
  }
}

.sm-ls4 {
  @include media($only-sm)
  {
    letter-spacing: $ls4;
  }
}

.sm-ls5 {
  @include media($only-sm)
  {
    letter-spacing: $ls5;
  }
}

.sm-ls6 {
  @include media($only-sm)
  {
    letter-spacing: $ls6;
  }
}

.sm-ls7 {
  @include media($only-sm)
  {
    letter-spacing: $ls7;
  }
}

.sm-ls8 {
  @include media($only-sm)
  {
    letter-spacing: $ls8;
  }
}

.sm-ls9 {
  @include media($only-sm)
  {
    letter-spacing: $ls9;
  }
}

.sm-ls10 {
  @include media($only-sm)
  {
    letter-spacing: $ls10;
  }
}

.md-ls1 {
  @include media($md)
  {
    letter-spacing: $ls1;
  }
}

.md-ls2 {
  @include media($md)
  {
    letter-spacing: $ls2;
  }
}

.md-ls3 {
  @include media($md)
  {
    letter-spacing: $ls3;
  }
}

.md-ls4 {
  @include media($md)
  {
    letter-spacing: $ls4;
  }
}

.md-ls5 {
  @include media($md)
  {
    letter-spacing: $ls5;
  }
}

.md-ls6 {
  @include media($md)
  {
    letter-spacing: $ls6;
  }
}

.md-ls7 {
  @include media($md)
  {
    letter-spacing: $ls7;
  }
}

.md-ls8 {
  @include media($md)
  {
    letter-spacing: $ls8;
  }
}

.md-ls9 {
  @include media($md)
  {
    letter-spacing: $ls9;
  }
}

.md-ls10 {
  @include media($md)
  {
    letter-spacing: $ls10;
  }
}

.lg-ls1 {
  @include media($lg)
  {
    letter-spacing: $ls1;
  }
}

.lg-ls2 {
  @include media($lg)
  {
    letter-spacing: $ls2;
  }
}

.lg-ls3 {
  @include media($lg)
  {
    letter-spacing: $ls3;
  }
}

.lg-ls4 {
  @include media($lg)
  {
    letter-spacing: $ls4;
  }
}

.lg-ls5 {
  @include media($lg)
  {
    letter-spacing: $ls5;
  }
}

.lg-ls6 {
  @include media($lg)
  {
    letter-spacing: $ls6;
  }
}

.lg-ls7 {
  @include media($lg)
  {
    letter-spacing: $ls7;
  }
}

.lg-ls8 {
  @include media($lg)
  {
    letter-spacing: $ls8;
  }
}

.lg-ls9 {
  @include media($lg)
  {
    letter-spacing: $ls9;
  }
}

.lg-ls10 {
  @include media($lg)
  {
    letter-spacing: $ls10;
  }
}
