// Line Height Helpers
// ------------------------------------------------------------------------------------ */
$lh-1: 1;
$lh-1-5: 1.5;
$lh-3: 3;

.lh-1 { line-height: 1 }
.lh-1-5 { line-height: 1.5 }
.lh-3 { line-height: 3 }
