// Line Height Helpers
// ------------------------------------------------------------------------------------ */
$lh1: 1;
$lh1-5: 1.5;
$lh3: 3;

%lh1, .lh1 { line-height: 1 }
%lh1-5, .lh-15 { line-height: 1.5 }
%lh3, .lh3 { line-height: 3 }
