// Position Helpers
// ------------------------------------------------------------------------------------
.fl { float: left; }
.fr { float: right; }
.vam { vertical-align: middle; }
.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.pos-static { position: static; }
.pos-fixed { position: fixed; }