// Position Helpers
// ------------------------------------------------------------------------------------
.fl {
  float: left;
}

.fr {
  float: right;
}

.vam {
  vertical-align: middle;
}

.pos-rel {
  position: relative !important;
}

.pos-abs {
  position: absolute !important;
}

.pos-static {
  position: static !important;
}

.pos-fixed {
  position: fixed !important;
}
