// Responsive Helpers
// ------------------------------------------------------------------------------------
.xsm {
  display: none;
  @include media($md) {
    display: initial;
  }

  @include media($lg) {
    display: initial;
  }
}

.xmd {
  display: initial;
  @include media($md) {
    display: none;
  }

  @include media($lg) {
    display: initial;
  }
}

.xlg {
  display: initial;
  @include media($md) {
    display: initial;
  }

  @include media($lg) {
    display: none;
  }
}

.x-only-sm {
  @include media($only-sm) {
    display: none !important;
  }
}

.x-only-md {
  @include media($only-md) {
    display: none !important;
  }
}

.x-only-lg {
  @include media($only-lg) {
    display: none !important;
  }
}

.x-only-xlg {
  @include media($only-xlg) {
    display: none !important;
  }
}

// Responsive Image Helpers
// ------------------------------------------------------------------------------------
.imax {
  max-width: 100%;
  width: auto;
  height: auto;
}

.i100 {
  width: 100%;
}
