// Settings
//-------------------------------------------------------------------------- */
// This file contains all of the configurable settings for Beard. You
// can essentially make your own copy of this file for you project and
// override every value to the one you want, minus the `!global` option.

// Configuration Switches
//-------------------------------------------------------------------------- */
$beard-reset: true !global;
$beard-enable-responsive: true !global;

// Allow the user to specify how many spacing helper amounts to generate
$beard-spacing-helper-amount: 10 !global;
// Allow the user to turn off the spacing helpers completely
$beard-enable-spacing-helpers: true !global;

// Responsive Breakpoints
//-------------------------------------------------------------------------- */
@if $beard-enable-responsive == true {
    $beard-breakpoint-sm: '(min-width: 300px)' !global;
    $beard-breakpoint-md: '(min-width: 600px)' !global;
    $beard-breakpoint-lg: '(min-width: 900px)' !global;
    $beard-breakpoint-xlg: '(min-width: 1440px)' !global;

    $beard-breakpoint-only-sm: '(max-width: 599px)' !global;
    $beard-breakpoint-only-md: '(min-width: 600px) and (max-width: 899px)' !global;
    $beard-breakpoint-only-lg: '(min-width: 900px) and (max-width: 1439px)' !global;
    $beard-breakpoint-only-xlg: '(min-width: 1440px)' !global;

    $breakpoints: (
        sm: $beard-breakpoint-sm,
        only-sm: $beard-breakpoint-only-sm,
        md: $beard-breakpoint-md,
        only-md: $beard-breakpoint-only-md,
        lg: $beard-breakpoint-lg,
        only-lg: $beard-breakpoint-only-lg,
        xlg: $beard-breakpoint-xlg,
        only-xlg: $beard-breakpoint-only-xlg
    ) !global;
}

// Block Grid
//-------------------------------------------------------------------------- */
$beard-grid-block-count: 12 !global;
$beard-grid-gutter: 30px !global;

// Site Width
// ------------------------------------------------------------------------------------ */
$site-width: 114rem !global;

// Typefaces
//-------------------------------------------------------------------------- */
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !global;
$serif: Merriweather, Georgia, serif !global;
$code: Menlo, Consolas, Monaco, 'Andale Mono', monospace !global;

// Font Sizes
//-------------------------------------------------------------------------- */
// Value are based on a modular scale configured from here:
// http://www.modularscale.com/?1,1.1,1.2&rem&1.5&web&text
$ft1: 10 !global;
$ft2: 11 !global;
$ft3: 12 !global;
$ft4: 15 !global;
$ft5: 16.5 !global;
$ft6: 18 !global;
$ft7: 22.5 !global;
$ft8: 24.75 !global;
$ft9: 27 !global;
$ft10: 33.75 !global;
$ft11: 37.13 !global;
$ft12: 40.5 !global;
$ft13: 50.63 !global;
$ft14: 55.69 !global;
$ft15: 60.75 !global;
$ft16: 75.94 !global;
$ft17: 83.53 !global;

$font-size-values: (
    ft1: $ft1,
    ft2: $ft2,
    ft3: $ft3,
    ft4: $ft4,
    ft5: $ft5,
    ft6: $ft6,
    ft7: $ft7,
    ft8: $ft8,
    ft9: $ft9,
    ft10: $ft10,
    ft11: $ft11,
    ft12: $ft12,
    ft13: $ft13,
    ft14: $ft14,
    ft15: $ft15,
    ft16: $ft16,
    ft17: $ft17,
) !global;

// Font Weights
// ------------------------------------------------------------------------------------ */
$thin: 100 !global;
$xlight: 200 !global;
$light: 300 !global;
$normal: 400 !global;
$medium: 500 !global;
$semibold: 600 !global;
$bold: 700 !global;
$xbold: 800 !global;
$xxbold: 900 !global;

// Letter Spacing
//-------------------------------------------------------------------------- */
$ls1:  0.1rem !global;
$ls2:  0.2rem !global;
$ls3:  0.3rem !global;
$ls4:  0.4rem !global;
$ls5:  0.5rem !global;
$ls6:  0.6rem !global;
$ls7:  0.7rem !global;
$ls8:  0.8rem !global;
$ls9:  0.9rem !global;
$ls10: 1.0rem !global;

// Border Radius Amounts
//-------------------------------------------------------------------------- */
$border-radius-amount: 6 !global;
$circle-img-radius: 100rem !global;

// Max Border Size Helper Amount
//-------------------------------------------------------------------------- */
$beard-border-size-amount: 2 !global;

// Create an empty spacing-amount list
//-------------------------------------------------------------------------- */
$spacing-amounts: ();
