// Global Colors
// ------------------------------------------------------------------------------------ */
$white: #fff !default;
$black: #000 !default;
$beard-success-color: #4AB471 !default;
$beard-warning-color: #F3AE4E !default;
$beard-danger-color: #CF5C60 !default;

// Set Brand colors
//-------------------------------------------------------------------------- */
$brand-color-1: #2795b6 !default;
$brand-color-2: darken($brand-color-1, 5%) !default;
$brand-color-3: darken($brand-color-2, 5%) !default;
$brand-color-4: darken($brand-color-3, 5%) !default;
$brand-color-5: darken($brand-color-4, 5%) !default;

$beard-colors: (
  b: $black,
  w: $white,
  1: $brand-color-1,
  2: $brand-color-2,
  3: $brand-color-3,
  4: $brand-color-4,
  5: $brand-color-5,
  success: $beard-success-color,
  warning: $beard-warning-color,
  danger: $beard-danger-color,
  g05: darken($white, 5%),
  g10: darken($white, 10%),
  g20: darken($white, 20%),
  g30: darken($white, 30%),
  g40: darken($white, 40%),
  g50: darken($white, 50%),
  g60: darken($white, 60%),
  g70: darken($white, 70%),
  g80: darken($white, 80%),
  g90: darken($white, 90%),
) !default;

// Define brand color variables
//-------------------------------------------------------------------------- */
// Background colors
$bgb: map-get($beard-colors, b);
$bgw: map-get($beard-colors, w);
$bg1: map-get($beard-colors, 1);
$bg2: map-get($beard-colors, 2);
$bg3: map-get($beard-colors, 3);
$bg4: map-get($beard-colors, 4);
$bg5: map-get($beard-colors, 5);

// Text colors
$tcb: map-get($beard-colors, b);
$tcw: map-get($beard-colors, w);
$tc1: map-get($beard-colors, 1);
$tc2: map-get($beard-colors, 2);
$tc3: map-get($beard-colors, 3);
$tc4: map-get($beard-colors, 4);
$tc5: map-get($beard-colors, 5);

// Border colors
$bcb: map-get($beard-colors, b);
$bcw: map-get($beard-colors, w);
$bc1: map-get($beard-colors, 1);
$bc2: map-get($beard-colors, 2);
$bc3: map-get($beard-colors, 3);
$bc4: map-get($beard-colors, 4);
$bc5: map-get($beard-colors, 5);

// Background Colors
// ------------------------------------------------------------------------------------ */
$bgg05: map-get($beard-colors, g05);
$bgg10: map-get($beard-colors, g10);
$bgg20: map-get($beard-colors, g20);
$bgg30: map-get($beard-colors, g30);
$bgg40: map-get($beard-colors, g40);
$bgg50: map-get($beard-colors, g50);
$bgg60: map-get($beard-colors, g60);
$bgg70: map-get($beard-colors, g70);
$bgg80: map-get($beard-colors, g80);
$bgg90: map-get($beard-colors, g90);

// Text Colors
// ------------------------------------------------------------------------------------ */
$tcg05: map-get($beard-colors, g05);
$tcg10: map-get($beard-colors, g10);
$tcg20: map-get($beard-colors, g20);
$tcg30: map-get($beard-colors, g30);
$tcg40: map-get($beard-colors, g40);
$tcg50: map-get($beard-colors, g50);
$tcg60: map-get($beard-colors, g60);
$tcg70: map-get($beard-colors, g70);
$tcg80: map-get($beard-colors, g80);
$tcg90: map-get($beard-colors, g90);

// Border Colors
// ------------------------------------------------------------------------------------ */
$bcg05: map-get($beard-colors, g05);
$bcg10: map-get($beard-colors, g10);
$bcg20: map-get($beard-colors, g20);
$bcg30: map-get($beard-colors, g30);
$bcg40: map-get($beard-colors, g40);
$bcg50: map-get($beard-colors, g50);
$bcg60: map-get($beard-colors, g60);
$bcg70: map-get($beard-colors, g70);
$bcg80: map-get($beard-colors, g80);
$bcg90: map-get($beard-colors, g90);
