// Padding Helpers
// ------------------------------------------------------------------------------------
.xp { padding: 0; }
.xpv { padding-top: 0; padding-bottom: 0; }
.xph { padding-left: 0; padding-right: 0 }

// Margin Helpers
// ------------------------------------------------------------------------------------
.xm { margin: 0; }
.xmv { margin-top: 0; margin-bottom: 0; }
.xmh { margin-left: 0; margin-right: 0; }
.center { margin-left: auto; margin-right: auto; }

// New Margin Helpers
//-------------------------------------------------------------------------- */
$position-units: (
  padding: 'p',
  margin: 'm'
);

@each $id, $position in $position-units {
  @for $i from 1 through 10 {
    .#{$position}t#{$i} {
      #{$id}-top: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}t#{$i} {
        @include media($breakpoint) {
            #{$id}-top: #{$i}rem;
        }
      }
    }

    .#{$position}r#{$i} {
      #{$id}-right: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}r#{$i} {
        @include media($breakpoint) {
            #{$id}-right: #{$i}rem;
        }
      }
    }

    .#{$position}b#{$i} {
      #{$id}-bottom: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}b#{$i} {
        @include media($breakpoint) {
            #{$id}-bottom: #{$i}rem;
        }
      }
    }

    .#{$position}l#{$i} {
      #{$id}-left: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}l#{$i} {
        @include media($breakpoint) {
            #{$id}-left: #{$i}rem;
        }
      }
    }

    .#{$position}v#{$i} {
      #{$id}-top: #{$i}rem;
      #{$id}-bottom: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}v#{$i} {
        @include media($breakpoint) {
            #{$id}-top: #{$i}rem;
            #{$id}-bottom: #{$i}rem;
        }
      }
    }

    .#{$position}h#{$i} {
     #{$id}-left: #{$i}rem;
     #{$id}-right: #{$i}rem;
    }

    @each $key, $breakpoint in $breakpoints {
      .#{$key}-#{$position}h#{$i} {
        @include media($breakpoint) {
            #{$id}-left: #{$i}rem;
            #{$id}-right: #{$i}rem;
        }
      }
    }
  }
}