// Tables
// ------------------------------------------------------------------------------------ */
.table {
  width: 100%;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid $bcg10;
  @extend %indented-first-last;
}

%indented-first-last {
  & > td:first-child, & > th:first-child {
    padding-left: 1.5rem;
  }

  & > td:last-child, & > th:last-child {
    padding-right: 1.5rem;
  }
}

.th {
//  @extend %indented-first-last;
}

.td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
//  @extend %indented-first-last;
}

// Stats Table
// ------------------------------------------------------------------------------------ */
.stats-table {}
.stats-table__col {
  margin-left: 2rem;
  margin-right: 2rem;
}

.thead-1 {
  font-size: $ft2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.thead-2 {
  @extend .pv;
}
