// Text Aligment Helpers
// ------------------------------------------------------------------------------------
$alignment-units: (
  left: 'l',
  center: 'c',
  right: 'r'
);

@each $id, $position in $alignment-units {
  .ta#{$position} { text-align: $id }

  @each $key, $breakpoint in $breakpoints {
    .#{$key}-ta#{$position} {
      @include media($breakpoint) {
          text-align: $id;
      }
    }
  }
}