@mixin media($thepoint) {
    $feature: 'only screen and ';
    $media-query: $feature + $thepoint;
    @media #{$media-query} { @content; }
}

@mixin new-breakpoint($label, $def) {
  $map2: ($label: $def);
  $breakpoints: map-merge($breakpoints, $map2) !global;
}