// Tools to Generate Responsive Spacing Helpers
//-------------------------------------------------------------------------- */
@mixin new-spacing-helper($name, $size: null) {
    @if $size == null {
        $size: $name;
    }

    $new-helper: ($name: $size);
    $beard-spacing-amounts: map-merge($beard-spacing-amounts, $new-helper) !global;
}
