// Tools to Generate Responsive Spacing Helper
//-------------------------------------------------------------------------- */
@function new-spacing-helper($size) {
    $spacing-amounts: append($spacing-amounts, $size) !global;
    @return $spacing-amounts;
}

@mixin new-spacing-helper($size) {
    $spacing-amounts: new-spacing-helper($size);
}

// Build the initial list of spacing amounts
@for $i from 1 through $beard-spacing-helper-amount {
    $spacing-amounts: new-spacing-helper($i);
}

// Add the zero spacing helper manually so it's last in the source order
@include new-spacing-helper('0');
