// Wrap
// ------------------------------------------------------------------------------------ */
.wrap {
  margin-left: auto;
  margin-right: auto;

  padding-left: $spacing-horz-sm;
  padding-right: $spacing-horz-sm;

  @include media($md) {
    padding-left: $spacing-horz-md;
    padding-right: $spacing-horz-md;
  }

  @include media($lg) {
    padding-left: $spacing-horz-lg;
    padding-right: $spacing-horz-lg;

    max-width: $site-width-lg;
  }
}

.wrap--sm {
    @include media($lg) {
        padding-left: $spacing-horz-sm;
        padding-right: $spacing-horz-sm;

        max-width: $site-width-sm;
    }
}

.wrap--md {
    @include media($md) {
        padding-left: $spacing-horz-md;
        padding-right: $spacing-horz-md;

        max-width: $site-width-md;
    }
}

.wrap--full {
  @include media($lg) {
    max-width: 100%;
  }
}

.wrap--flex {
  display: flex;
}

// Padding All Around
// ------------------------------------------------------------------------------------ */
.pa {
  @extend .ph;
  @extend .pv;
}
