<section class="pv4 md-pv6" style="display: none;">
    <div class="wrap">
        <h2 class="tc1 tac uppercase ft4 ls4 fwxxbold mb4 md-mb6">Features</h2>
        <div class="features frame frame--pad">
            <div class="blk feature">
                <h2 class="tcg50 ft7 fw3 mb2 md-mb3">Settings</h2>
                <p class="ft5 lh2 tcg50 mb4 md-mb6">Want to change or disable something in Beard? We make it easy to do so.</p>
            </div>

            <div class="blk feature">
                <h2 class="tcg50 ft7 fw3 mb2 md-mb3">Reset &amp; Base Styles</h2>
                <p class="ft5 lh2 tcg50 mb4 md-mb6">Beard uses a standard reset and has a small amount of sensible base styles to remove the most annoying defaults.</p>
            </div>

            <div class="blk feature">
                <h2 class="tcg50 ft7 fw3 mb2 md-mb3">Objects</h2>
                <p class="ft5 lh2 tcg50 mb4 md-mb6">With roots in OOCSS, Beard comes with a small assortment of basic CSS objects like the infamous <code>media</code> object.</p>
            </div>
        </div>
        <div class="features frame frame--pad">
            <div class="blk feature">
                <h2 class="tcg50 ft7 fw3 mb2 md-mb3">Components</h2>
                <p class="ft5 lh2 tcg50 mb4 md-mb0">You can now opt to pull in a bunch of handy pre-styled widgets and components.</p>
            </div>

            <div class="blk feature">
                <h2 class="tcg50 ft7 fw3 mb2 md-mb3">Helpers</h2>
                <p class="ft5 lh2 tcg50 mb4 md-mb0">Beard ships with a ton of handy classes to help kickstart development and reduce the redundancy found in large CSS projects.</p>
            </div>
            <div class="blk feature"></div>
        </div>
    </div>
</section>
