---
layout: subpage
---
<section class="pv4 md-pv6 ph4">
    <h2 class="tcg50 ft10 fw3 mb2 md-mb3">Grid</h2>

    <h2 class="tcg50 ft7 fw3 mb2 md-mb3">The Auto Grid</h2>
    <p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">This AutoGrid is the easiest way to get started. Simply use a div with a <code>.frame</code> class and place any number of <code>.blk</code> elements as direct descendants and the AutoGrid will automatically figure out the column width. Each column is given a generous 30px of padding between to create a 60px wide gutter between columns.</p>

    <div class="frame frame--stay example-frame mb3">
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
    </div>
    <div class="frame frame--stay example-frame mb3">
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
    </div>
    <div class="frame frame--stay example-frame mb3">
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
        <div class="blk example-blk">
            <div class="sticky">.blk</div>
        </div>
    </div>

    <h2 class="tcg50 ft7 fw3 mb2 md-mb3">12-column Grid</h2>
    <p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">The 12-column grid is the gold standard in web layout. Beard ships with this standard and gives you responsive helper classes to change the layout when the viewport reaches a certain breakpoint. It also supports nested grids for increased flexibility.</p>

    <p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">Hint: To get the grid to maintain its ratios on the small breakpoint, use the <code>.frame--stay</code> modifier on your <code>.frame</code> wrapper.</p>

    <h2 class="tcg50 ft5 fw5 mb2 md-mb3">Examples</h2>
    <div class="frame example-frame mb3">
        <div class="blk md-blk6 example-blk">
            <div class="sticky">.blk.md-blk6</div>
        </div>
        <div class="blk md-blk6 example-blk">
            <div class="sticky">.blk.md-blk6</div>
        </div>
    </div>
    <div class="frame example-frame mb3">
        <div class="blk md-blk--offset3 example-blk">
            <div class="sticky">.blk.md-blk--offset3</div>
        </div>
    </div>
    <div class="frame example-frame mb3">
        <div class="blk3 md-blk--push9 example-blk">
            <div class="sticky">.blk3.md-blk--push9</div>
        </div>
        <div class="blk9 md-blk--pull3 example-blk">
            <div class="sticky">blk9.md-blk--pull3</div>
        </div>
    </div>

    <h2 class="tcg50 ft5 fw5 mb2 md-mb3">Grids with no padding</h2>
    <div class="frame frame--nopad example-frame mb3">
        <div class="blk3 example-blk">
            <div class="sticky sticky--nopad">Uno</div>
        </div>
        <div class="blk3 example-blk">
            <div class="sticky sticky--nopad">Dos</div>
        </div>
        <div class="blk3 example-blk">
            <div class="sticky sticky--nopad">Tres</div>
        </div>
        <div class="blk3 example-blk">
            <div class="sticky sticky--nopad">Quatro</div>
        </div>
    </div>
    <div class="frame frame--nopad example-frame mb3">
        <div class="blk4 example-blk">
            <div class="sticky sticky--nopad">1</div>
        </div>
        <div class="blk4 example-blk">
            <div class="sticky sticky--nopad">2</div>
        </div>
        <div class="blk4 example-blk">
            <div class="sticky sticky--nopad">3</div>
        </div>
    </div>
    <div class="frame frame--nopad example-frame mb3">
        <div class="blk6 example-blk">
            <div class="sticky sticky--nopad">1</div>
        </div>
        <div class="blk6 example-blk">
            <div class="sticky sticky--nopad">2</div>
        </div>
    </div>

    <h2 class="tcg50 ft5 fw5">Nested Grids with <code>.frame--stay</code></h2>
    <div class="frame example-frame">
        <div class="blk6 example-blk">
            <div class="frame frame--stay example-frame example-nested-frame">
                <div class="blk6 example-blk">
                    <div class="sticky">Nested</div>
                </div>
                <div class="blk6 example-blk">
                    <div class="sticky">Nested</div>
                </div>
            </div>
        </div>
        <div class="blk6 example-blk">
            <div class="frame frame--stay example-frame example-nested-frame">
                <div class="blk3 example-blk">
                    <div class="sticky">1</div>
                </div>
                <div class="blk3 example-blk">
                    <div class="sticky">2</div>
                </div>
                <div class="blk3 example-blk">
                    <div class="sticky">3</div>
                </div>
                <div class="blk3 example-blk">
                    <div class="sticky">4</div>
                </div>
            </div>
        </div>
    </div>
</section>
