<section class="pv4 md-pv6 ph4">
    <h2 class="tcg50 ft10 fw3 mb2 md-mb3">Introduction</h2>

    <h3 class="tcg50 ft7 fw3 mb2 md-mb3">How To Learn Beard</h3>
    <p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">The best way to learn Beard is to use it. It relies on shorthand for most of the classes it provides. For example, take the margin spacing helpers. To achieve a <code>margin-top</code> which uses the 2nd step in the spacing scale, use <code>.mt2</code>. For padding, it's <code>.pt2</code>.</p>

<pre class="mb4"><code class="language-html">
&lt;h1 class="heading heading1 pv2 ph2"&gt;This is your header&lt;/h1&gt;
</code></pre>

    <p class="tcg50 ft5 fw3 mb4 md-mb6 lh2">Another example is the font sizing helpers. To use the 7th step in the font scale, you would use <code>.ft7</code>, or if you wanted to change the size on a different breakpoint, you would use something like <code>.md-ft9</code></p>
</section>
