<aside class="main-sidebar brdr1--right bcg10">
    <div class="wrap wrap--pad">
        <ul class="mt4 mb3">
            <li class="ft4 pv1">
                <a href="/" class="tc1">Home</a>
            </li>
        </ul>

        <!-- <h2 class="ft6 pv1 tcg60 mt2 fw3">Philosophy</h2>
        <ul class="mb3">
            <li class="ft4 pv1">
                <a href="" class="tc1">Why Beard?</a>
            </li>
            <li class="ft4 pv1">
                <a href="" class="tc1">Inspiration</a>
            </li>
            <li class="ft4 pv1">
                <a href="" class="tc1">Credits</a>
            </li>
        </ul> -->

        <h2 class="ft6 pv1 tcg60 mt2 fw3">Getting Started</h2>
        <ul class="mb3">
            <li class="ft4 pv1">
                <a href="/installation" class="tc1">Installation</a>
            </li>
            <li class="ft4 pv1">
                <a href="/configuration" class="tc1">Configuration</a>
            </li>
        </ul>

        <h2 class="ft6 pv1 tcg60 fw3">Elements</h2>
        <ul class="mb3">
            <li class="ft4 pv1">
                <a href="/tools" class="tc1">Tools</a>
                <ul class="mt1">
                    <li class="ft3 pv1 ml1"><a href="/tools#appearance" class="tcg40">appearance()</a></li>
                    <li class="ft3 pv1 ml1"><a href="/tools#media" class="tcg40">media()</a></li>
                    <li class="ft3 pv1 ml1"><a href="/tools#new-breakpoint" class="tcg40">new-breakpoint()</a></li>
                    <li class="ft3 pv1 ml1"><a href="/tools#font-size" class="tcg40">font-size()</a></li>
                    <li class="ft3 pv1 ml1"><a href="/tools#new-spacing-helper" class="tcg40">new-spacing-helper()</a></li>
                </ul>
            </li>
            <li class="ft4 pv1">
                <a href="/reset-and-base" class="tc1">Reset &amp; Base</a>
            </li>
            <li class="ft4 pv1">
                <a href="/helpers" class="tc1">Helpers</a>
                <ul class="mt1">
                    <li class="ft3 pv1 ml1"><a href="/helpers#text-align" class="tcg40">Text align</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#spacing" class="tcg40">Spacing</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#line-heights" class="tcg40">Line heights</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#letterspacing" class="tcg40">Letterspacing</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#fonts" class="tcg40">Fonts</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#grid" class="tcg40">Grid</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#floats" class="tcg40">Floats</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#display" class="tcg40">Display</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#flex" class="tcg40">Flex</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#overflow" class="tcg40">Overflow</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#colors" class="tcg40">Colors</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#position" class="tcg40">Position</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#borders" class="tcg40">Borders</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#border-radius" class="tcg40">Border Radius</a></li>
                    <li class="ft3 pv1 ml1"><a href="/helpers#misc" class="tcg40">Misc</a></li>
                </ul>
            </li>
        </ul>

        <h2 class="ft6 pv1 tcg60 fw3">Resources</h2>
        <ul class="mb3">
            <li class="ft4 pv1">
                <a href="" class="tc1">Templates</a>
            </li>
        </ul>
    </div>
</aside>