<section class="wrap bgg05 pv4 md-pv6">
    <h2 class="tc1 tac uppercase ft4 ls4 fwxxbold mb4 md-mb6">Testimonials</h2>
    <div class="frame mb4">
        <div class="blk4 only-sm-mb6">
            <p class="ft5 tcg60 lh1-8 mb3">&ldquo;Beard has without a doubt made my HTML much more crowded and my CSS unreadable. You know. But hey, it’s fast!&rdquo;</p>
            <div>
                <h2 class="uppercase ft4 ls1 fwxxbold mb1">
                    <a href="http://davidhemphill.com" class="tc1">David Hemphill</a>
                </h2>
                <p class="ft4 tcg40">Founder Monarkee, LLC</p>
            </div>
        </div>
        <div class="blk4 only-sm-mb6">
            <p class="ft5 tcg60 lh1-8 mb3">&ldquo;Beard is bloated and overweight, it should instead be called ‘fatGuyWithBeard.&rdquo;</p>
            <div>
                <h2 class="uppercase ft4 ls1 fwxxbold mb1">
                    <a href="http://twitter.com/andrewdelprete" class="tc1">Andrew Del Prete</a>
                </h2>
                <p class="ft4 tcg40">Big Boss Man @ Musicbed</p>
            </div>
        </div>
        <div class="blk4">
            <p class="ft5 tcg60 lh1-8 mb3">&ldquo;If you aren’t using Beard, it’s probably because you are working with one of the good frameworks out there. Good for you. #stayAway #flatCssIsALie&rdquo;</p>
            <div>
                <h2 class="uppercase ft4 ls1 fwxxbold mb1">
                    <a href="http://jaymesdowner.com" class="tc1">Jaymes Downer</a>
                </h2>
                <p class="ft4 tcg40">#Cashmoney Connoisseur</p>
            </div>
        </div>
    </div>
</section>
